{% extends 'base.html.twig' %}
            {% block seo_head %}
                {{ leogout_seo() }}
            {% endblock %}
{% block body %}

    <!-- BreadCrumd starts -->
    {{ include('includes/bread_crumd.html.twig', {'page_name':'Contact'}) }}
    <!-- BreadCrumd starts -->
    <!-- contact starts -->
    <section class="contact-main pt-0 contact1 bg-grey">
        <div class="map mb-10">
            <div style="width: 100%">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d30875.557868812397!2d-17.456269777209002!3d14.68742394381089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xec173ac024570ad%3A0x25356e62d116c0a3!2stamoona!3m2!1d14.669709399999999!2d-17.4320111!5e0!3m2!1sfr!2ssn!4v1632919079499!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="container">
            <div class="contact-info">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="contact-info">
                            <h3 class="pink">NOS INFORMATIONS</h3>
                            <p class="mb-4">Tamoona est une agence de tourisme de luxe spécialisée dans l’organisation
                                de séjours uniques et exclusifs à une clientèle en quête d’expériences différentes et
                                originales.d’expériences différentes et
                                originales.</p>
                            <div class="info-item d-flex align-items-center bg-white mb-3">
                                <div class="info-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="info-content pl-4">
                                    <p class="m-0">2, place de l’indépendance Immeuble SDIH 3e étage                                    </p>
                                    <p class="m-0">Dakar, Senegal</p>
                                </div>
                            </div>
                            <div class="info-item d-flex align-items-center bg-white mb-3">
                                <div class="info-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="info-content pl-4">
                                    <p class="m-0">+221 33 889 29 99</p>
                                    <p class="m-0">+221 33 864 00 10</p>
                                    <p class="m-0">+221 77 944 26 26</p>
                                </div>
                            </div>
                            <div class="info-item d-flex align-items-center bg-white mb-3">
                                <div class="info-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="info-content pl-4">
                                    <p class="m-0">reservations@tamoonatravel.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="contact-form1" class="contact-form">
                            <h3 class="pink">FAITES VOUS CRÉER VOTRE VOYAGE</h3>
                            <p class="mb-4"> </p>

                            <div id="contactform-error-msg"></div>

                                {{ form_start(form) }}

                                <div class="form-group">
                                    {{ form_row(form.userName) }}
                                </div>

                                <div class="form-group">
                                {{ form_row(form.subject) }}
                                </div>

                                <div class="form-group">
                                    {{ form_row(form.userEmail) }}
                                </div>

                                <div class="form-group">
                                    {{ form_row(form.phone) }}
                                </div>

                                <div class="textarea">
                                    {{ form_row(form.message) }}
                                </div>
                                <div class="comment-btn text-right mt-1">
                                    <input type="submit" class="btn btn-large btn-block" style=" color: white;background-color: #0b0e23" value="Envoyer ">
                                </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact Ends -->
{% endblock %}

