

<!-- footer starts -->
<footer class="pt-10" >
    <div class="footer-upper pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-about">
                        <img src="{{ asset('images/Logo-10-Final-Blanc.png') }}" alt="" width="200px">
                        <p class="mt-3 mb-3">
                            Un Travel Planner vous conseille sur les meilleurs moments pour planifier votre séjour par ce qu’il est au courant de toutes les tendances.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li><a href="https://www.facebook.com/Tamoonatravel/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/tamoona_the_travelplanner/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/tamoona-the-travel-planner/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-links text-center">
                        <ul class="list">
                            <li>
                                <a href="{{ path('home') }}" class="white hover-white">Accueil</a>
                            </li>
                            <li>
                                <a href="{{ path('my_travel_agencey') }}">My Travel Agency</a>
                            </li>
                            <li>
                                <a href="{{ path('blog') }}">Blog</a>
                            </li>
                            <li>
                                <a href="{{ path('offres') }}">Offres</a>
                            </li>
                            <li>
                                <a href="{{ path('presentation_senegal') }}">Découverte Sénégal</a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">Contact</a>
                            </li>

                        </ul>
                    </div>
                    <div class="footer-listing-main d-lg-flex align-items-center justify-content-between mt-4 text-center">
                        <div class="footer-listing white">
                            <i class="fa fa-map-marked white mb-1"></i>
                            2, place de l’indépendance<br> Immeuble SDIH 3e étage<br>
                            Dakar, Senegal
                        </div>
                        <div class="footer-listing">
                            <i class="fa fa-fax white mb-1"></i>
                            <p class="white mb-0"> reservations@tamoonatravel.com</p>
                            <p class="white mb-0">+221 77 944 26 26</p>
                            <p class="white mb-0">+221 33 889 29 99</p>
                            <p class="white mb-0">+221 33 864 00 10</p>
                        </div>
                        <div class="footer-listing">
                            <img src="{{ asset('/images/pages/iata_logo-300x120.png') }}" alt="partners" width="180px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright pt-2 pb-2 " style="">
        <div class="container">
            <div class="copyright-inner">
                <div class="copyright-text text-center">
                    <p class="m-0 white">©2021 Tamoona. Powered by <a href="https://noisydigital.com">Noisy Digital</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</footer>
<!-- footer ends -->

<!-- Back to top start -->
<div id="back-to-top">
    <a href="#"></a>
</div>
<!-- Back to top ends -->
<style>
    .list > a:hover {
        color:#c8ad7f !important;
    }
</style>