
<!-- header starts -->
<header class="main_header_area headerstye-1">


    <!--Top Header-->
    <div class="header-content " style="background-color: white;">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="links">
                <ul>
                    <li><a href="tel:00221779442626" class="Black"><i class="fa fa-phone"></i> +221 77 944 26 26</a></li>
                    <li><a href="mailto:reservations@tamoonatravel.com" class="black"><i class="fa fa-support"></i> reservations@tamoonatravel.com</a></li>
                    <li><a href="#" class="black"><i class="fa fa-map-marker"></i> Lun-Ven: 8:30 – 18:00</a></li>
                </ul>
            </div>
            <div class="links float-right">
                <ul>
                    <li><a href="https://www.facebook.com/Tamoonatravel/"><i class="fab fa-facebook black" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/tamoona_the_travelplanner/"><i class="fab fa-instagram black" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/tamoona-the-travel-planner/"><i class="fab fa-linkedin black" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Top header-->
    <!-- Navigation Bar -->
    <div class="header_menu" id="header_menu" >
        <nav class="navbar navbar-default"  >
            <div class="container">
                <div class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-2 pt-2">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img src="{{ asset('/images/Logo-10-Final-Blanc.png') }}" alt="image" width="150px">
                            <img src="{{ asset('/images/Tamoona-carré.png') }}" alt="image" width="150px">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="responsive-menu">
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle"   href="{{ path('home') }}"  role="button" aria-haspopup="true" aria-expanded="false">Accueil </a>
                            </li>
                            <li><a   href="{{ path('my_travel_agencey') }}" >My Travel Agency</a></li>
                            <li><a  href="{{ path('blog') }}">Blog</a></li>
                            <li><a  href="{{ path('offres') }}">Offres</a></li>
                            <li><a  href="{{ path('presentation_senegal') }}" >Découverte Sénégal</a></li>
                            <li><a  href="{{ path('contact') }}"   >Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    <div id="slicknav-mobile"></div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- Navigation Bar Ends -->
</header>
<!-- header ends -->
