{% extends 'frontend/base.html.twig' %}
{% block body %}
    <!-- BreadCrumd starts -->
    {{ include('/frontend/includes/bread_crumd.html.twig', {'page_name': "Offre | " ~  offre.title}) }}
    <!-- BreadCrumd starts -->
    <!-- blog starts -->
    <section class="blog trending destination-b">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="single-content">
                        <div class="single-full-title border-b mb-2 pb-2">
                            <div class="single-title">
                                <h3 class="mb-1">{{  offre.title | upper }}</h3>
                                <div class="rating-main d-sm-flex align-items-center">
                                    <p class="mb-0 mr-2"><i class="flaticon-location-pin"></i> {{  offre.destination }}</p>
                                    {% if offre.price > 0 %}
                                        <p class="mb-0 mr-2"><i class=""></i> A Partir de  {{  offre.price|number_format(0, '.', ',') }} FCFA</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="description-images mb-4">
                            <div class="thumbnail-images">
                                <div class="slider-store">
                                    <div>
                                        <img src="/images/offers/{{ offre.image }}" alt="1">
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="tour-includes mb-4">
                            <table>
                                <tbody>
                                <tr>
                                    {% if offre.nombreDeJour > 0  %}
                                        <td><i class="fa fa-clock-o pink mr-1" aria-hidden="true"></i> {{ offre.nombreDeJour}} jours</td>
                                    {% endif %}
                                    {% if offre.nombreMaxPersonne > 0  %}
                                        <td><i class="fa fa-group pink mr-1" aria-hidden="true"></i> Nombre maximum de personnes : {{ offre.nombreMaxPersonne}}</td>
                                        {#                                <td><i class="fa fa-calendar pink mr-1" aria-hidden="true"></i> {{ offre.delaiAt| date("d M Y") }}</td>#}
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="description mb-2">
                            <h4>Description</h4>
                            <p>{{ offre.description }}</p>
                            <p class="mb-0"></p>
                        </div>
                        {% set services = offre.services |split(',') %}

                        <div class="description mb-2">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 mb-2 pr-2">
                                    <div class="desc-box">
                                        <h4 class="mb-1">Services Inclus</h4>
                                        <ul>
                                            {% for service in services %}
                                                <li><i class="fa fa-check pink mr-1"></i> {{ service }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accrodion-grp faq-accrodion mb-4" data-grp-name="faq-accrodion">

                            {% for programme in offre.programmes  %}
                                <div class="accrodion {% if programme.programmeOrder == 1 %} active {% endif%} " >
                                    <div class="accrodion-title" style=" background-color: #94703C">
                                        <h5 class="mb-0"><span >{{ programme.title  }}</span>  </h5>
                                    </div>
                                    <div class="accrodion-content" style="display: block;">
                                        <div class="inner">
                                            <p>{{  programme.description | raw }}</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="sidebar-sticky">
                        <div class="list-sidebar">
                            <div class="sidebar-item">
                                <div class="form-content" style="background-color: #94703C">
                                    <h4 class="title white text-center">FAIRE UNE RESERVATION</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <span class="white">Offre prévu pour le </span>
                                                <h3 class="choosen-date white mb-0"><i class="fa fa-calendar"></i> {{ offre.delaiAt| date("d - M - Y") }} </h3>
                                            </div>
                                        </div>

                                    </div>
                                    {{ form_start(form) }}
                                    <div class="">
                                        {{ form_row(form.nomComplet) }}
                                    </div>
                                    <div class="">
                                        {{ form_row(form.email) }}
                                    </div>
                                    <div class="">
                                        {{ form_row(form.telephone) }}
                                    </div>
                                    <div class="">
                                        {{ form_row(form.nombrePersonne) }}
                                    </div>

                                    <div class="comment-btn text-right mt-1">
                                        <input type="submit" class="btn btn-large btn-block" style=" color: white;background-color: black" value="Envoyer ">
                                    </div>
                                    {{ form_end(form) }}
                                </div>

                            </div>

                            {#                        <div class="sidebar-item" >#}
                            {#                            <div class="location-rating mb-2 mt-2">#}
                            {#                                <div class="row d-flex align-items-center">#}
                            {#                                    <div class="col-lg-2 col-md-2">#}
                            {#                                        <span class="location-box">4.5</span>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-lg-10 col-md-10">#}
                            {#                                        <p class="mb-0">Exceptional</p>#}
                            {#                                        <span>Location rating score</span>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="location-features">#}
                            {#                                <ul>#}
                            {#                                    <li class="mb-2"><i class="fa fa-map-marker pink mr-2"></i> Better than 99% of properties in London</li>#}
                            {#                                    <li class="mb-2"><i class="fa fa-map-marker pink mr-2"></i> Exceptional Location - Inside city center</li>#}
                            {#                                    <li><i class="fa fa-map-marker pink mr-2"></i> Popular Neighbourhood</li>#}
                            {#                                </ul>#}
                            {#                            </div>#}
                            {#                        </div>#}

                            <div class="sidebar-item" style="background-color: #94703C!important;">
                                <div class="sidebar-contact text-center "  >
                                    <i class=" fa fa-phone-alt white"></i>
                                    <h3 class="white"><span>Contacter</span>  Nous</h3>
                                    <a href="tel://+221 77 944 26 26" class="phone white">+221 77 944 26 26</a>
                                    <small class="white d-block mt-2">Monday to Friday 9.00am - 7.30pm</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog Ends -->

    {% if offres is defined and offres != []  %}
        <!-- Trending Starts -->
        <section class="trending destination bg-grey pb-6">
            <div class="container">
                <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
                    <h2 class="m-0">Offres <span style="color: #94703C">Similaires</span></h2>
                    <p class="mb-0">Découvrer tous nos meilleurs offres</p>
                </div>
                <div class="trend-box">
                    <div class="row team-slider">
                        {% for offreSimilaire in offres %}
                            {% if offreSimilaire.id != offre.id %}
                                <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                                    <div class="trend-item">
                                        <div class="trend-image">
                                            <img src="/images/offers/{{ offreSimilaire.image }}" alt="image">
                                            <div class="trend-tags">
                                                <a href="{{ path('offre_detail', { slug : offreSimilaire.slug }) }}"><i class="flaticon-like"></i></a>
                                            </div>
                                        </div>
                                        <div class="trend-content-main">
                                            <div class="trend-content">
                                                <h6 class="font-weight-normal"><i class="fa fa-map-marker-alt"></i> {{ offreSimilaire.destination }} </h6>
                                                <h4 style="color: black"><a href="{{ path('offre_detail', { slug : offreSimilaire.slug }) }}">
                                                        {{ offreSimilaire.title }}
                                                    </a></h4>
                                            </div>
                                            <div class="trend-last-main">
                                                <p class="mb-0 trend-para">{{ offreSimilaire.shortDescription }}</p>
                                                <div class="trend-last d-flex align-items-center justify-content-between " style="background-color: #94703C">
                                                    <p class="mb-0 white" ><i class="fa fa-info-o" aria-hidden="true"></i>
                                                        <a href="{{ path('offre_detail', { slug : offreSimilaire.slug }) }}" class="white">En Savoir Plus</a>
                                                    </p>
                                                    {% if offreSimilaire.price>0  %}
                                                        <div class="trend-price">
                                                            <p class="price white mb-0">FCFA <span class="font-weight-light">
                                                {{ offreSimilaire.price|number_format(0, '.', ',') }}
                                            </span></p>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Trending Ends -->
    {% endif %}
{% endblock %}