

<!-- Trending Starts -->
{%if offers is defined %}

<section class="trending destination-b pb-6 pt-7">
    <div class="container">
        <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
            <h2 class="m-0">Perfect <span>Deals & Discounts</span></h2>
            <p class="mb-0">Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
        </div>
        <div class="trend-box">
            <div class="row team-slider">
                {% for offer in offers  %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="trend-item">

                        <div class="ribbon ribbon-top-left" ><span style="background-color: #856404!important;">FCFA {{ offer.price|number_format(0, '.', ',')  }}</span></div>
                        <div class="trend-image">
                            <img src="/images/offers/{{ offer.image }}" alt="image">
                            <div class="trend-tags">
                                <a href="#"><i class="flaticon-like"></i></a>
                            </div>
                        </div>
                        <div class="trend-content-main">
                            <div class="trend-content">
                                <h6 class="font-weight-normal"><i class="fa fa-map-marker-alt"></i> {{ offer.destination|raw }}</h6>
                                <h4><a href="{{ path('offre_detail', { slug : offer.slug }) }}">{{ offer.title | raw }}</a></h4>
                                <div class="rating-main d-flex align-items-center">
                                    <span class="ml-2"> <i class="fa fa-clock-o" aria-hidden="true"></i> Jusqu'au {{ offer.delaiAt | date("d-M-Y") }}</span>
                                </div>
                            </div>
                            <div class="trend-last-main">
                                <p class="mb-0 trend-para">{{ offer.description | raw }}</p>
                                <div class="trend-last d-flex align-items-center justify-content-between " style="background-color:#94703c">
                                    <a href="{{ path('offre_detail', { slug : offer.slug }) }}">
                                        <p class="mb-0 white"><i class="fa fa-phone-alt mr-1" aria-hidden="true"> </i>
                                            Faites Votre Reservation Dés Maintenant
                                        </p>
                                    </a>

                                    <div class="trend-price">
                                        <p class="price white mb-0"> <span>  </span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Trending Ends -->
