<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="FR">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/Tamoona-carré.png') }}"/>
    {% block seo_head %}

    {% endblock %}
    <title>Tammonna your travel planner agencey</title>

    {% block stylesheets %}
        {{ include("frontend/includes/link.html.twig") }}
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    {% endblock %}

</head>
<body>
    {{ include('frontend//includes/header.html.twig') }}


    {% block body %}

    {% endblock %}

    {{ include('frontend//includes/footer.html.twig') }}

    {% block javascripts %}

        <!-- Flashy depends on jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

        {% include("frontend//includes/js.html.twig") %}
    {% endblock %}
</body>

</html>
