<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="FR">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Travel Agency - Tamoona, your travel planner!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/Tamoona-carré.png') }}"/>
    {% block seo_head %}

    {% endblock %}
    {% block stylesheets %}
        {% include("includes/link.html.twig") %}

    {% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

</head>
<body>
    {{ include('/includes/header.html.twig') }}
    {% block body %}

    {% endblock %}
    {{ include('/includes/footer.html.twig') }}
    {% block javascripts %}
        {% include("includes/js.html.twig") %}
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    {% endblock %}
</body>

</html>
